<section class="vh-100 gradient-custom">
  <div class="container py-5 vh-100">
    <div class="row d-flex justify-content-center align-items-center vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label>Nome:<br>
    <input type="text" formControlName="name" required>
  </label>
  <br>
  <label>E-mail:<br>
    <input type="email" formControlName="email" required>
  </label>
  <br>
  <label>Função:<br>
    <select formControlName="role" required>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </label>
  <br>
  <label>Senha:<br>
    <input type="password" formControlName="password" required minlength="6" maxlength="15">
  </label>
  <br>
  <button type="submit" [disabled]="!userForm.valid">Salvar</button>
</form>
<a routerLink="/users">Ir para a página de usuários</a>
<br>
<a routerLink="/add-user">Adicionar um Usuário</a>
<br>
<a routerLink="/home">Home</a>

</div>
</div>
</div>
    </div>
    </div>
    </div>
</section>