<!-- home.component.html -->
<section class="vh-100 gradient-custom">
  <div class="container py-5 vh-100">
    <div class="row d-flex justify-content-center align-items-center vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">


<p>Quantidade de usuários cadastrados: {{ userCount }}</p>
<table>
  <tr>
    <th>Função</th>
    <th>Quantidade</th>
  </tr>
  <tr *ngFor="let role of usersByRole | keyvalue">
    <td>{{ role.key }}</td>
    <td>{{ role.value }}</td>
  </tr>
</table>

</div>
</div>
</div>
</div>
</div>
</div>
</section>
